@use "../../mixins/util.module" as util;

.insightContainer {
  @include util.flex-row;
  @include util.flex-center;

  .insightAvatar {
    height: 4em;
    width: 4em;
  }

  .insightTitle {
    color: util.$colors---helper-text-gray;
  }

  .insightPrimaryText {
    color: util.$colors---black;
  }
}