.grid {
  --ag-spacing: 8px;
  --ag-wrapper-border: true;
  --ag-row-height: 50px;

  --ag-border-color: #00000000;
  --ag-header-row-border: 1px solid #EEEEEE;
  --ag-row-border: 1px solid #EEEEEE;

  --ag-header-font-family: inherit;
  --ag-header-font-size: 14px;
  --ag-font-family: inherit;
  --ag-header-text-color: #B5B7C0;
  --ag-cell-text-color: #000000;
  --ag-accent-color: #008CFF;

  --ag-background-color: #FFFFFF;
  --ag-chrome-background-color: #FFFFFF;
  --ag-odd-row-background-color: #FFFFFF;
  --ag-foreground-color: #000000;
  --ag-browser-color-scheme: dark;
}