@use "../../mixins/util.module" as util;

//TODO: CHECK WHY COLORS FROM COLORS.MODULE.SCSS DOESNT WORK FOR AG GRID

.grid {
  --ag-spacing: 8px;
  --ag-wrapper-border: true;
  --ag-row-height: 50px;

  --ag-border-color: util.$colors---black;
  --ag-header-row-border: 1px solid #EEEEEE;
  --ag-row-border: 1px solid #EEEEEE;

  --ag-header-font-family: inherit;
  --ag-header-font-size: 14px;
  --ag-font-family: inherit;
  --ag-header-text-color: #B5B7C0;
  --ag-cell-text-color: util.$colors---black;
  --ag-accent-color: #008CFF;

  --ag-background-color: util.$colors---white;
  --ag-chrome-background-color: util.$colors---white;
  --ag-odd-row-background-color: util.$colors---white;
  --ag-foreground-color: util.$colors---black;
  --ag-browser-color-scheme: dark;
}