.grid {
  --ag-accent-color: #008CFF;
  --ag-background-color: #FFFFFF;
  --ag-border-color: #00000000;
  --ag-browser-color-scheme: dark;
  --ag-cell-text-color: #292D32;
  --ag-chrome-background-color: #FFFFFF;
  --ag-column-border: true;
  --ag-font-family: inherit;
  --ag-foreground-color: #000000;
  --ag-header-font-family: inherit;
  --ag-header-font-size: 14px;
  --ag-header-row-border: true;
  --ag-header-text-color: #B5B7C0;
  --ag-odd-row-background-color: #FFFFFF;
  --ag-row-border: true;
  --ag-spacing: 8px;
  --ag-wrapper-border: true;
  --ag-row-height: 50px;
}