@use "../../mixins/util.module" as util;

.applicationContainer {
  @include util.flex-col;
  align-items: center;
  background-color: util.$colors---background-off-white;

  .multiAvatarContainer {
    @include util.flex-row;
    @include util.flex-center;
    height: 30%;
    width: 60%;

    .avatarContainer {
      @include util.flex-col;
      @include util.flex-center;
      gap: 0.5em;

      .insightAvatar {
        height: 3em;
        width: 3em;
      }
    }
  }

  .formContainer {
    @include util.flex-col;
    align-items: center;

    .applicationGrid {
      @include util.border-base;
      width: 60%;
      padding: 2em 4em;

      .field {
        @include util.dimension-fill;
      }
    }

  }
}