
.sideNavBox {
  display: flex;
  height: 100%;
  width: 100%;

  .sideNavDrawer {
    flex-shrink: 0;
    width: 18em;

    .sideNavList {
      width: 100%;
      height: 100%;

      .sideNavItem {
        color: #9197B3;
        width: auto;
        margin: 1em;
        padding: unset;

        .itemText {
          display: flex;
          padding-left: 1em;
          padding-right: 1em;
        }
      }
    }
  }
}