@use "../../mixins/util.module" as util;

.sideNavBox {
  @include util.flex-row;

  .sideNavDrawer {
    flex-shrink: 0;
    width: 18em;

    .sideNavList {
      @include util.dimension-fill;

      .sideNavItem {
        color: util.$colors---helper-text-gray;
        width: auto;
        margin: 0.5em;
        padding: unset;

        .itemText {
          display: flex;
          padding-left: 1em;
          padding-right: 1em;
        }
      }
    }
  }
}