@use "../../../mixins/util.module" as util;

.architectContainer {
  @include util.flex-row;
  align-items: center;
  height: 80%;
  width: 100%;
  gap: 1em;
  background-color: util.$colors---background-off-white;
  border-radius: 4px;

  .textContainer{
    @include util.flex-col;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding-left: 1em;
    .primaryText {
      color: util.$colors---black;
    }
    .secondaryText {
      color: util.$colors---helper-text-gray;
    }
  }

  .chevron {
    color: util.$colors---black;
  }
}