@use "../../mixins/util.module" as util;

.gridContainer {
  @include util.flex-col;
  @include util.border-base;
  background-color: #FFFFFF;
  padding: 2em;

  .searchContainer {
    @include util.flex-row;
    @include util.dimension-fill;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    .search {

    }
  }
}